<script type="text/javascript">
  $(function() {
    $('#search .form button').click(function() {
      document.location.href = $('#search .form select').val();
    });
  });
</script>


<div id="wrapperinfo">
  <div id="info">
    
    <div id="search">
    
      <h2 class="left">Search for Books Near You!</h2>
      
      <div class="form">
        <%= select :location, :id, @locations.order(:id).collect { |p| [p.name, '/locations/' + p.id.to_s] }  %>
        <button class="button">Search</button>
      </div>
      
      <% unless session[:user_id] %>
        <h2 class="tagline">Never spend money on books again!<br />Sign up and start saving!</h2>
        <a class="button" href="/users/new">Create an Account</a>
      <% end %>
    </div>
    
  </div>
</div>


<div id="wrapperhowitworks">
  <div id="howitworks">
    <h1>How ReBook Works</h1>
    
    <div id="step1" class="step">
      <div class="thumb">
        <%= image_tag("step1.png") %>
      </div>
      <h3>Personalize your <br> Have and Want lists</h3> 
      <p>Search our library and build up you Have List with books you currently own and are looking to trade. Then, add any books you wish you had or need to your Want List.</p>
    </div>
    
    <div id="step2" class="step">
      <div class="thumb">
        <%= image_tag("step2.png") %>
      </div>
      <h3>We find you matches</h3> 
      <p>Sit back and let our amazing ReBook team find you matches based on your Have and Want lists.</p>
    </div>
    
    <div id="step3" class="step">
      <div class="thumb">
        <%= image_tag("step3.png") %>
      </div>  
      <h3>Pick your trades</h3>
      <p>Look through the trades our team finds for you and pick any you want to make. We give you an easy way to set up a meeting time  and place for your trade.</p>
    </div>
    
    <div id="step4" class="step">
      <div class="thumb">
        <%= image_tag("step4.png") %>
      </div> 
      <h3>Start saving!</h3>
      <p>Our unique system lets you continuously trade your unused books for books you desire, no money involved. Whether you need a text book, comic book, quick read, etc. ReBook can help you save money.</p>
    </div>
	
	<%= render :partial => 'tutorial_slideshow' %> 
  </div>
</div>

<div id="wrappercreate">
  <div id="create">
    <h1>Never buy books again. Use ReBook and save $$$</h1>
    <% unless session[:user_id] %>
      <a href="/users/new" class="button">Create an Account</a>
    <% end %>
  </div>
</div>

