<div id="wrapperinfo">
  <div id="info">
    
    <div id="search">
    
      <h2>Search for Books!</h2>
    
      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
        <%= submit_tag("Search", id: nil, class: "button") %>
      <% end %>
      
    </div>
    
    <div id="signup">
      <h2>Never spend money on books again!<br />Sign up and start saving!</h2>
      <% unless session[:user_id] %>
      <a class="button" href="/users/new">Create an Account</a>
      <% end %>
    </div>
    
  </div>
</div>


<div id="wrapperhowitworks">
  <div id="howitworks">
    <h1>How ReBook Works</h1>
    
    <div id="step1" class="step">
      <div class="thumb">
        <%= image_tag("step1.png") %>
      </div>
      <p>Personalize your Have and Want lists <br> Search our database for books you currently own and are looking to trade. 
		Then, add any books you wish you had to your Want List.
	  a book you're looking for, add it to your personalized Have</p>
    </div>
    
    <div id="step2" class="step">
      <div class="thumb">
        <%= image_tag("step2.png") %>
      </div>
      <p>We find you matches <br> Sit back and let our amazing ReBook team find you matches based on you Have and Want lists.</p>
    </div>
    
    <div id="step3" class="step">
      <div class="thumb">
        <%= image_tag("step3.png") %>
      </div>  
      <p>Pick your trades <br> Look through the trades our team found for you and pick which books you want to trade for your books.
	  Once both you and the owner of the book you want are ready to trade, we give you an easy way to set up a meeting time for 
		your trade</p>
    </div>
    
    <div id="step4" class="step">
      <div class="thumb">
        <%= image_tag("step4.png") %>
      </div> 
      <p>Start saving! <br> Never spend money on books again! Our unique system lets you continuously trade your unused books for 
	  books you desire, no money involved. Whether you need a text book, comic book, quick read, etc. ReBook can help you save money.</p>
    </div>
  </div>
</div>

<div id="wrappercreate">
  <div id="create">
    <h1>Never buy books again. Use ReBook and save $$$</h1><% unless session[:user_id] %><a href="/users/new" class="button">Create an Account</a><% end %>
  </div>
</div>

