<div id="main" class="inventory">
  <% if @inventory_needs.empty? %>
    <div id="search">
        
          <h2>Your Want List is empty. Search for books to add:</h2>
          
          <%= form_tag("/search", method: "get") do %>
            <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
            <%= submit_tag("Search", id: nil, class: "button") %>
          <% end %> 
    </div>
  <% else %>
    <div id="search">
        
          <h2>Add more books to your Want List:</h2>
          
          <%= form_tag("/search", method: "get") do %>
            <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
            <%= submit_tag("Search", id: nil, class: "button") %>
          <% end %> 
    </div>

    <h1>My Want List</h1>

    <% @inventory_needs.each do |inventory_need| %>
      <div class="book">
        
        <div class="thumbnail">
          <img src="<%= inventory_need.book.thumbnail %>" alt="<%= inventory_need.book.name %>" />
          <p><%= link_to 'Remove', inventory_need, method: :delete, data: { confirm: 'Are you sure?' } %></p>  
        </div>

        <div class="bookinfo">
          <h3><%= inventory_need.book.name %></h3>
          <p><strong>Author:</strong> <%= inventory_need.book.author %><br />
          <strong>ISBN:</strong> <%= inventory_need.book.isbn %><br />
          <strong>Published:</strong> <%= inventory_need.book.published %></p>
          <%= inventory_need.book.description.html_safe%>
        </div>
        
      </div>
    <% end %>
    
  <% end %>

</div>
