<div id="main" class="inventory">
  
<% if @inventory_owns.empty? %>
  <div id="search">
      
        <h2>Your Have List is empty. Search for books to add:</h2>
        
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
          <%= submit_tag("Search", id: nil, class: "button") %>
        <% end %> 
  </div>

<% else %>

  <div id="search">
      
        <h2>Add more books to your Have List List:</h2>
        
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
          <%= submit_tag("Search", id: nil, class: "button") %>
        <% end %> 
  </div>
  
  <h1>My Have List</h1>

  <% @inventory_owns.each do |inventory_own| %>
    <div class="book">
    
      <img src="<%= inventory_own.book.thumbnail %>" alt="<%= inventory_own.book.name %>" />
      
      <div class="bookinfo">
        <h3><%= inventory_own.book.name %></h3>
        <b>ISBN:</b> <%= inventory_own.book.isbn %></br>
        <b>Published:</b> <%= inventory_own.book.published %></br>
        <b>Author:</b> <%= inventory_own.book.author %></br>
        <%= unless inventory_own.book.description.nil? inventory_own.book.description.html_safe %></br>
        <%= link_to 'Remove', inventory_own, method: :delete, data: { confirm: 'Are you sure?' } %>        
      </div>
      
    </div>
  <% end %>

  <% end %>

</div>
