<%= form_for(@user_feedback) do |f| %>
  <% if @user_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_feedback.errors.count, "error") %> prohibited this user_feedback from being saved:</h2>

      <ul>
      <% @user_feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_from_id %><br>
    <%= f.number_field :user_from_id %>
  </div>
  <div class="field">
    <%= f.label :user_to_id %><br>
    <%= f.number_field :user_to_id %>
  </div>
  <div class="field">
    <%= f.label :trade_id %><br>
    <%= f.number_field :trade_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_area :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
