<p id="notice"><%= notice %></p>

<p>
  <strong>User from:</strong>
  <%= @user_feedback.user_from_id %>
</p>

<p>
  <strong>User to:</strong>
  <%= @user_feedback.user_to_id %>
</p>

<%= link_to 'Edit', edit_user_feedback_path(@user_feedback) %> |
<%= link_to 'Back', user_feedbacks_path %>
