<%= form_for(@inventory_hafe) do |f| %>
  <% if @inventory_hafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_hafe.errors.count, "error") %> prohibited this inventory_hafe from being saved:</h2>

      <ul>
      <% @inventory_hafe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :condition_id %><br>
    <%= f.text_field :condition_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
