<h1>This is our temporary skeleton view<h1>
<p>The controller says: <%= @message %></p>
<p>
<a href="/users">Users scaffolding</a><br>
<a href="/locations">Locations scaffolding</a><br>
<a href="/user_locations">UserLocations scaffolding</a><br>
<a href="/books">Books scaffolding</a><br>
<a href="/inventory_haves">InventoryHaves scaffolding</a><br>
<a href="/inventory_needs">InventoryNeeds scaffolding</a><br>
<a href="/conditions">Conditions scaffolding</a><br>
<a href="/trades">Trades scaffolding</a><br>
<a href="/trade_lines">TradeLines scaffolding</a><br>
<a href="/user_feedbacks">UserFeedbacks scaffolding</a><br>
<a href="/trade_notes">TradeNotes scaffolding</a><br>
<a href="/feedbacks">Feedbacks scaffolding</a><br>
</p>
<p>
Some basic API book results from GoogleBooks:
<a href="/?search=cats">Search for cats</a><br>

Status: <%= @result.status %> <br>
Results: <%= @result.books.length %> <br>

<% @result.books.each do |x| %>
  <img src="
  <%= x.thumbnail %>
  "><br>
  <%= x.title %><br>
<% end %>

</p>

