<%= render "layouts/header" %>

<h1>This is our Zero Feature Release</h1><br>

<% if session[:user_id].nil? %>
<a href="/login">Login to rebook</a>
<% else %>
   Welcome <%= session[:user_name] %>, <a href="/logout">Logout</a>
<% end %>

<p><strong>For reference, here are skeletal implementations for various views.</strong></p>

<p>
<a href="/users">Users scaffolding</a><br>
<a href="/locations">Locations scaffolding</a><br>
<a href="/user_locations">UserLocations scaffolding</a><br>
<a href="/books">Books scaffolding</a><br>
<a href="/inventory_owns">InventoryOwns scaffolding</a><br>
<a href="/inventory_needs">InventoryNeeds scaffolding</a><br>
<a href="/conditions">Conditions scaffolding</a><br>
<a href="/trades">Trades scaffolding</a><br>
<a href="/trade_lines">TradeLines scaffolding</a><br>
<a href="/user_feedbacks">UserFeedbacks scaffolding</a><br>
<a href="/trade_notes">TradeNotes scaffolding</a><br>
<a href="/feedbacks">Feedbacks scaffolding</a><br>
</p>
<br>

<p>
Search for something with the API:

<%= form_tag "/", :method => 'get' do %>
    <%= text_field_tag :search, params[:search] || "cats" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</p>
<p>

<br>

<strong>Results: <%= @result.books.length %></strong><br><br>

<% @result.books.each do |x| %>
  <div>
    <img src="<%= x.thumbnail %>"><br>
    <strong><%= x.title %></strong><br>
    <a href="<%= x.link %>"><%= x.id %></a><br>
      <% unless session[:user_id].nil? %>
         <% if x.hide_own %>
			You already own this book!
			<br/>
		<% elsif x.hide_need %>
			You already need this book!
			<br />
		 <% else %>
			<%= form_tag "/inventory_owns/?" + x.id, :method => 'post' do %>
				<%= submit_tag "Add to owned", :name => nil %>
				<%= hidden_field_tag :api_id, x.id %>
			 <% end %>
			 <%= form_tag "/inventory_needs", :method => 'post' do %>
				<%= submit_tag "Add to needed", :name => nil %>
				<%= hidden_field_tag :api_id, x.id %>
			 <% end %>
         <% end %> 
      <% end %>
    <br>
  </div>
<% end %>
</p>

