<script type="text/javascript">
  $(function() {
    $('.day-planner td').tooltip({
      tooltipClass: 'availTip'
    });

  });
</script>
<% timezone = User.find(session[:user_id]).timezone %>
<div class="day-planner">
  <table>
    <tr>
      <td></td>
      <% schedule.keys.each do |day| %>
        <td class="day" cellpadding="5"><%= day[0,2] %></td>
      <% end %>
    </tr>
    <% (0..47).each do |minute| %>
    <tr>
       <% hour = ((minute%24)/2) %>
        <% if hour == 0 %>
        <% hour = 12 %>
        <% end %>
        <% if minute > 23 %>
        <% ampm = "pm" %>
        <% else %>
        <% ampm = "am" %>
        <% end %>
      <% if minute % 4 == 0 %>
      <td class = "hour" rowspan="4">
        <%= hour.to_s + " " + ampm %>
      </td>
      <% end %>
      <% schedule.keys.each do |day| %>
        <% if minute % 2 == 0
            min = ":00"
          else 
            min = ":30"
          end %>
        <% date = Date.parse(day).in_time_zone(timezone) %>
        <% date = date > Date.today ? date : date + 7 %>
        <% if schedule[day][minute] == 0 %>
         <td data-time="<%= hour.to_s + min + ampm %>" data-date="<%= date.strftime('%m/%d/%Y') %>" class="count-0 time-slot"></td>
        <% elsif schedule[day][minute] == 1 %>
          <td data-time="<%= hour.to_s + min + ampm %>" data-date="<%= date.strftime('%m/%d/%Y') %>" class="count-1 time-slot" title="<%= hour.to_s + min + ampm %>"></td>
        <% elsif schedule[day][minute] == 2 %>
          <td data-time="<%= hour.to_s + min + ampm %>" data-date="<%= date.strftime('%m/%d/%Y') %>" class="count-2 time-slot" title="<%= hour.to_s + min + ampm %>"></td>
        <% else schedule[day][minute] == 3 %>
          <td data-time="<%= hour.to_s + min + ampm %>" data-date="<%= date.strftime('%m/%d/%Y') %>" class="count-3 time-slot" title="<%= hour.to_s + min + ampm %>"></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
