<script>
  $(function() {
    $('#schedules form .datepick').timepicker({ disableTextInput:true });
  });
</script>

<% @user.user_locations.each do |x| %>
  <article>
    
    <div class="location">
  		<%= image_tag x.location.icon %>
      <h2>Schedule for <%= link_to x.location.name, x.location %></h2>
      (<%= link_to "Remove", user_location_path(x.id), :method => :delete, :remote => true %>)
    </div>

    <div class="form">
      <%= form_tag user_schedules_path, :method => :post, :remote => true, :class => "add-to-schedule" do %>
          <%= label_tag :from_standard, "From:" %> <%= text_field_tag :from_standard, nil, :class=>"datepick" %>
          <%= label_tag :to_standard, "To:" %> <%= text_field_tag :to_standard, nil, :class=>"datepick"%>
          <%= submit_tag "Add to Schedule", :name => nil, :class => 'button' %>
          <br />
          <%= label_tag :day, "Day of Week:" %>  
          <input type="checkbox"  name="Sunday" id="<%=x.id %>_sunday" value="Sunday" /><label for="<%=x.id %>_sunday">Sun</label>
          <input type="checkbox"  name="Monday" id="<%=x.id %>_monday" value="Monday" /> <label for="<%=x.id %>_monday">Mon</label>
          <input type="checkbox"  name="Tuesday" id="<%=x.id %>_tuesday" value="Tuesday" /><label for="<%=x.id %>_tuesday">Tue</label>
          <input type="checkbox"  name="Wednesday" id="<%=x.id %>_wednesday" value="Wednesday" /><label for="<%=x.id %>_wednesday">Wed</label>
          <input type="checkbox"  name="Thursday" id="<%=x.id %>_thursday" value="Thursday" /><label for="<%=x.id %>_thursday">Thu</label>
          <input type="checkbox"  name="Friday" id="<%=x.id %>_friday" value="Friday" /><label for="<%=x.id %>_friday">Fri</label>
          <input type="checkbox"  name="Saturday" id="<%=x.id %>_saturday" value="Saturday" /><label for="<%=x.id %>_saturday">Sat</label>

          <%= hidden_field_tag :user_location_id, x.id %>
          <br />
      <% end %>
    </div>

    <% @user_location = x %>
    <div class="times">
      <table class="text">
        <% x.user_schedules.each do |y| %>
      	  <tr>
            <td><%= y.day %>:</td>
            <td><%= y.from_standard %> - <%= y.to_standard %></td>
            <td>(<%= link_to "Remove", user_schedule_path(y.id), :method => :delete, :remote => true %>)</td>
          </tr>

        <% end#each %>
      </table>

      <%= render partial: "users/day_planner", locals: {schedule: x.schedule_hash} %>

    </div>

  </article>
<% end#each %>

