<div id="main">
  <div id="edit-schedule">

    <h2>Locations and Schedules:</h2>

    <%= form_tag locations_path, :method => :get, :remote => true, :id => "location_form" do %>
        <div class="field" id="location-results">
            <%= label_tag :search, "Search Locations: "%>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= text_field_tag :search, params[:search], :id => "searcher", :autocomplete =>"off" %>
            <%= submit_tag "Search", :name => nil, :class => "button" %>
          </div>
    <% end %>

    <div id="results">
      <%= render :partial => 'location_results' %>
    </div>

    <div id="schedules">
      <%= render :partial => 'user_schedules' %>
    </div>

  </div>
</div>