<div id="wrappermain">
	<div id="main">
		<h1>Update your ReBook Account</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div id="imgsection">
		<%= f.label :image, "Pick You Avatar" %>
		<%= f.select :image,[['Dragon', 'dragon.png'],['Bunny', 'bunny.png'],['Snake', 'snake.png'],['Dog', 'dog.png'],
									 ['Lamb', 'lamb.png'],['Horse', 'horse.png'],['Pig', 'pig.png'],['Mouse', 'mouse.png'],
									 ['Cow', 'cow.png'],['Tiger', 'tiger.png'],['Monkey', 'monkey.png'],['Chicken', 'chicken.png']] %>	
		<div class="user_image">
			<%= image_tag(@user.image, alt: "userimage", class: 'img') %>
		</div>
	</div>
	
  <h3>Name</h3>
  <%= f.text_field :first, placeholder: "First", class: "text" %>
  <%= f.text_field :last, placeholder: "Last", class: "text" %>

	<h3>Choose your username</h3>
  <%= f.text_field :username, class: "text" %>

	<h3>Create a password</h3>
  <%= f.password_field :passhash, class: "text" %>

	<h3>Confirm your password</h3>
  <%= f.password_field :passhash_confirmation, class: "text" %>
  
	<h3>Your current email address</h3>
  <%= f.text_field :email, class: "text" %>

  <br />
  <br />
  <%= f.submit %>
<% end %>
  </div>
</div>
