<% @number = 1 %>
<% @trades.each do |x| %>
  <h2>Trade Number <%= @number %> </h2>
  <% x.trade_lines.each do |y| %>
    <b>From: </b><%= y.user_from.username %></br>
    <b>To: </b><%= y.user_to.username %></br>
    <b>Trade Book: </b><%= y.book.name %></br>
    <%= image_tag y.book.thumbnail %></br>
  <% end %>
<% @number = @number + 1 %>
</br>
<% end %>
