<div id="main">
	<div id="create-account">
		<h1>Create your ReBook Account</h1>
		
			<%= form_for @user do |f| %>
			
			<div id="imgsection">

				<%= f.label :image, "Pick Your Avatar" %>
				<%= f.select :image,[['Dragon', 'dragon.png'],['Bunny', 'bunny.png'],['Snake', 'snake.png'],['Dog', 'dog.png'],
									 ['Lamb', 'lamb.png'],['Horse', 'horse.png'],['Pig', 'pig.png'],['Mouse', 'mouse.png'],
									 ['Cow', 'cow.png'],['Tiger', 'tiger.png'],['Monkey', 'monkey.png'],['Chicken', 'chicken.png'],['Miley', 'miley.png']] %>
				<div class="user_image">
					<%= image_tag("/assets/" + @user.image.to_s, alt: "userimage", class: 'img') %>

				</div>
			</div>
			
			<div>
			  <%= f.label :first, "First Name" %><%= f.text_field :first %>
			  	<% if @user.errors[:first].present? %>
			  		<span class="error">
					  	<% @user.errors[:first].each do |msg| %>
					  		<%= "First Name " + msg + ". " %>
					  	<% end %>
				  	</span>
			  	<% end %>
			</div>

			<div>
			  <%= f.label :last, "Last Name" %><%= f.text_field :last %>
			  	<% if @user.errors[:last].present? %>
			  		<span class="error">
					  	<% @user.errors[:last].each do |msg| %>
					  		<%= "Last Name " + msg + ". " %>
					  	<% end %>
				  	</span>
			  	<% end %>
			</div>

			<div>
			  <%= f.label :username, "Username" %><%= f.text_field :username %>
			  	<% if @user.errors[:username].present? %>
			  		<span class="error">
					  	<% @user.errors[:username].each do |msg| %>
					  		<%= "Username " + msg + ". " %>
					  	<% end %>
				  	</span>
			  	<% end %>
			</div>

			<div>
			  <%= f.label :passhash, "Password" %><%= f.password_field :passhash %>
			  	<% if @user.errors[:passhash].present? %>
			  		<span class="error">
					  	<% @user.errors[:passhash].each do |msg| %>
					  		<%= "Password " + msg + ". " %>
					  	<% end %>
				  	</span>
			  	<% end %>
			</div>

			<div>
			  <%= f.label :passhash_confirmation, "Confirm password" %><%= f.password_field :passhash_confirmation %>
				<% if @user.errors[:passhash_confirmation].present? %>
			  		<span class="error">Passwords don't match.</span>
			  	<% end %>
			</div>

			<div>
			  <%= f.label :email, "Email" %><%= f.email_field :email %>
			  	<% if @user.errors[:email].present? %>
			  		<span class="error">
					  	<% @user.errors[:email].each do |msg| %>
					  		<%= "Email " + msg + ". " %>
					  	<% end %>
				  	</span>
			  	<% end %>
			</div>

			<div>
			  <%= f.label :location, "Location" %><%= f.select :location, @locations.collect { |p| [p.name, p.id] } %></p>
			</div>

			<div>
				<%= f.check_box :terms %> I agree to the <%= link_to 'Rebook Terms of Service', terms_path %>
				<% if @user.errors[:terms].present? %>
			  		<span class="error">You must accept the terms of service</span>
			  	<% end %>
			</div>

			  <%= f.submit "Sign me up!", class: "button" %>
			
			<% end %>

	</div>
</div>
