<div id="main">
	<div id="create-account">
		<h1>Create your ReBook Account</h1>
		
		<% unless flash[:notice].nil? %>
			<div class="error">
	   			<%= flash[:notice] %>
	   		</div>
		<% end %>
		
		<%= form_tag("/users", method: "post") do %>
	        <p><label for="first">First Name</label> <%= text_field_tag('first', nil, id: nil, class: "text") %></p>

	        <p><label for="last">Last Name</label> <%= text_field_tag('last', nil, id: nil, class: "text") %></p>

	       	<p><label for="user[username]">Username</label> <%= text_field_tag('user[username]', nil, id: nil, class: "text") %></p>

	       	<p><label for="user[passhash]">Password</label> <%=password_field_tag('user[passhash]', nil, id: nil, class: "text") %></p>

	       	<p><label for="user[passhash_confirmation">Confirm password</label> <%= password_field_tag('user[passhash_confirmation]', nil, id: nil, class: "text") %></p>

	       	<p><label for="user[email]">Email</label> <%= text_field_tag('user[email]', nil, id: nil, class: "text") %></p>

	       	<p><label for="user[location]">Location</label> <%= select_tag('user[location]', options_from_collection_for_select(@locations, "id", "name"), class: "text") %></p>

			<p><%= check_box_tag('terms', 'accepted') %> I agree to the <%= link_to 'Rebook Terms of Service' '/terms' %></p>

	        <%= submit_tag("Sign me up!", id: nil, class: "button") %>
	    <% end %>
	</div>
</div>
