<div id="wrapperuserinfo">

	<div id="userinfo">

		 <%= link_to "Edit My Account", edit_user_path, :id => "edit" %>
		 
		 <div id="avatar">
		  <h2>Your Avatar:</h2>
		  <div id="userimg">
			<%= link_to(image_tag(@user.image, alt: "Bunny", id: 'img'), root_path) %>
		  </div>
		</div>
		
		<h1>Account Preferences</h1>

		
		
		<p>
		  <h2>Username:</h2>
		  <%= @user.username %>
		</p>

		<p>
		  <h2>Email:</h2>
		  <%= @user.email %>
		</p>


	  <div id="locations">
		  <h2>Locations:</h2>
		  <p>
			<% @user.user_locations.each do |x| %>
			<strong>
			<%= x.location.name %><br>
			</strong>
			   <% x.user_schedules.each do |y| %>
				  From: <%= y.from %>
				  To: <%= y.to %>
				  Day: <%= y.day %>
			   <% end %>
			<% end %>
		  </p>
	  </div>
	</div>
</div>
