<div id="wrapperuserinfo">

	<div id="userinfo">
		<!--
		<p id="notice"><%= notice %></p>
		<p>
		  <strong>ID:</strong>
		  <%= @user.id %>
		</p>
		-->
		
		 <%= link_to "Edit My Account", edit_user_path, :id => "edit" %>
		
		<h1>Account Preferences</h1>
		
		<p>
		  <h2>Username:</h2>
		  <%= @user.username %>
		</p>

		<p>
		  <h3>Email:</h3>
		  <%= @user.email %>
		</p>

		<!--
		<p>
		  <strong>Passhash:</strong>
		  <%= @user.passhash %>
		</p>
		-->

		<p>
		  <strong>Image:</strong>
		  <%= @user.image %>
		</p>

		<!--
		<p>
		  <strong>Activated:</strong>
		  <%= @user.activated %>
		</p>
		-->
	</div>
</div>