<div id="wrapperuserinfo">

	<div id="userinfo">

		 <%= link_to "Edit My Account", edit_user_path, :id => "edit" %>
		
		<h1>Account Preferences</h1>
		
		<p>
		  <h2>Username:</h2>
		  <%= @user.username %>
		</p>

		<p>
		  <h3>Email:</h3>
		  <%= @user.email %>
		</p>

		<p>
		  <strong>Image:</strong>
		  <%= @user.image %>
		  <%= link_to(image_tag(@user.image, alt: "Bunny", id: 'img'), root_path) %>
		</p>

	  <div id="locations">
		  <h1>Locations</h1>
		  <p>
        <% @user.user_locations.each do |x| %>
        <strong>
        <%= x.location.name %>:<br>
        </strong>
           <% x.user_schedules.each do |y| %>
              From: <%= y.from %>
              To: <%= y.to %>
              Day: <%= y.day %>
           <% end %>
        <% end %>
		  </p>
	  </div>
	</div>
</div>
