<div id="main">
	<div id="user-show">

		<div class="userinfo">

			<%= link_to "Edit Account Info", edit_user_path, :id => "edit" %>
			 
			<div id="avatar">
				<h2>Your Avatar:</h2>
			  	<div id="userimg">
					<%= link_to(image_tag(@user.image, alt: "Bunny", id: 'img'), root_path) %>
			  	</div>
			</div>
		
			<h1>My Account</h1>
			<p><strong>First Name:</strong> <%= @user.first %></p>
			<p><strong>Last Name:</strong> <%= @user.last %></p>
			<p><strong>Username:</strong> <%= @user.username %></p>
			<p><strong>Email:</strong> <%= @user.email %></p>
		</div>
	    
	</div>
</div>
