<div id="main">
	<div id="search">
		<h1>Search for Books!</h1>
		<p>Add books to your have or want list so we can work our magic and find matches for you!
		In the search box, type the title, author, subject, or ISBN number. To add to you Want or 
		Have book list, just click the appropriate button next to the book you want to add, simple as that!</p>
		
		<%= form_tag("/search", method: "get") do %>
	        <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
	        <%= submit_tag("Search", id: nil, class: "button") %>
	    <% end %>

	    <% if !@result.nil? %>
			<strong>Results: <%= @result.books.length %></strong><br><br>

			<% @result.books.each do |x| %>
			  <article>
			    <img src="<%= x.thumbnail %>">
			    <h2><%= x.title %></h2>
			      <% unless session[:user_id].nil? %>
					<% if x.hide_own %>
						You already own this book!
						<br/>
					<% elsif x.hide_need %>
						You already need this book!
						<br/>
					<% else%>
						 <%= form_tag "/inventory_owns/?" + x.id, :method => 'post', :class => "add have" do %>
							<%= submit_tag "Add to Have List", :name => nil, :class => 'button' %>
							<%= hidden_field_tag :api_id, x.id %>
							<%= hidden_field_tag :search, params[:search] %>
						 <% end %>
						 <%= form_tag "/inventory_needs", :method => 'post', :class => "add want" do %>
							<%= submit_tag "Add to Want List", :name => nil, :class => 'button' %>
							<%= hidden_field_tag :api_id, x.id %>
							<%= hidden_field_tag :search, params[:search] %>
						 <% end %>
					<% end %>
			      <% end %>
			    <br>
			  </article>
			<% end %> 

		<% end %>
	</div>
</div>
