<script type="text/javascript">

  jQuery(document).ready(function($) {

  	//adding a book to want list
  	//ajax post
  	$('article form.want').submit(function() {
  		var want_form = $(this); //current "add to want list" form
  		var have_form = want_form.siblings('.have'); //current "add to have list" form
  		var loading = want_form.siblings('.loading');	//loading gif
  		
  		//hide buttons and show loading gif
  		want_form.hide();
  		have_form.hide();
  		loading.show();

  		$.ajax({
            type: 'POST',
            url: "/inventory_needs",
            data: want_form.serialize(),
            error: function(){
            	//error! show all buttons again, hide loading gif, show message
            	loading.hide();
            	have_form.show();
            	want_form.show();
            	want_form.parents('.actions').append('<p>Sorry! An error occured. Please try again.</p>');
            },
            success: function(){
            	//success! remove "add to have list" form, hide loading gif, show message
            	have_form.remove();
            	loading.hide();
            	want_form.parents('.actions').append('<p>You have successfully added this book to your <%= link_to "Want List", inventory_needs_path %>.</p>');
            }
        });
    	return false;
  	})
  });
</script>

<div id="main">
	<div id="search">
		<h1>Search for Books!</h1>
		<p>Add books to your have or want list so we can work our magic and find matches for you!
		In the search box, type the title, author, subject, or ISBN number. To add to you Want or 
		Have book list, just click the appropriate button next to the book you want to add, simple as that!</p>
		
		<%= form_tag("/search", method: "get", class: "book-search") do %>
	        <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
	        <%= submit_tag("Search", id: nil, class: "button") %>
	    <% end %>

	    <% if !@result.nil? %>
	    	<% if @result.books.length == 0 %>
	    		<h3>Sorry, no results were found for "<%= params[:search] %>". Try again with a different search term.</h3>
	    	<% else %>
				<h3><%= @result.books.length %> Results for "<%= params[:search] %>"</h3>
			<% end %>

			<% @result.books.each do |x| %>
			  <article>
			  	<div class="thumbnail">
			  	  <%= image_tag(x.thumbnail, alt: x.title, class: "bookcover") %>

			  	  <div class="actions">
				  	  <% unless session[:user_id].nil? %>
							<% if x.hide_own %>
								<p>This book is already in your <%= link_to "Have List", inventory_owns_path %>.</p>
							<% elsif x.hide_need %>
								<p>This book is already in your <%= link_to "Want List", inventory_needs_path %>.</p>
							<% else%>
								<%= image_tag("ajax-loader.gif", alt: "Adding...", class: 'loading') %>

	               				<%= form_tag inventory_owns_path, :method => 'post', :class => "add have" do %>
		                                <%= submit_tag "Add to Have List", :name => nil %>
		                                <%= label_tag :condition_id, "Condition:" %> <%= select_tag :condition_id, options_from_collection_for_select(@conditions, "id", "description") %>
		                                <%= hidden_field_tag :api_id, x.id %>
		                                <%= hidden_field_tag :search, params[:search] %>
		                        <% end %>

								<%= form_tag inventory_needs_path, :remote=>true, :class => "add want" do %>
									<%= submit_tag "Add to Want List", :name => nil %>
									<%= hidden_field_tag :api_id, x.id %>
									<%= hidden_field_tag :search, params[:search] %>
								<% end %>
							<% end %>
					    <% end %>
					</div> <!-- /.actions -->
			  	</div>

			  	<div class="details">
				    <h2><%= x.title %></h2>
				   	<p><strong>Author:</strong> <%= x.authors %><br />
			        <strong>ISBN:</strong> <%= x.isbn %><br />
			        <strong>Published:</strong> <%= x.published %><br /></p>
              <% unless x.description.nil? %>
			        <%= x.description.html_safe %>
              <% end %>
			      </div>
			  </article>
			<% end %> 

		<% end %>
	</div>
</div>
