<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Googleid:</strong>
  <%= @book.googleId %>
</p>

<p>
  <strong>Thumbnail:</strong><br>
  <image src="<%= @book.thumbnail %>">
</p>

<%= link_to 'Back', books_path %>
