<div id="main">
	<div id="login">
		<h1>Log in</h1>
		<% unless flash[:verified].nil? %>
			<div class="verified">
	   			<%= flash[:verified] %>
				<% flash[:verified] = nil%>
	   		</div>
		<% end %>
		<% unless flash[:login_error].nil? %>
			<div class="error">
	   			<%= flash[:login_error] %>
				<% flash[:login_error] = nil%>
	   		</div>
		<% end %>

		<%= form_tag(:action => 'attempt') do %>
		   	<p>
		   		<label for="login_username">Username or Email:</label></br> 
		   		<%= text_field_tag("login_username") %>
		   	</p>
		   	<p>
		   		<label for="login_passhash">Password:</label></br>
		   		<%= password_field_tag("login_passhash") %>
		   	</p>
		   	
		   	<%= submit_tag("Log In", class: "button") %>
		<% end %>
	</div>
</div>