<h3>Trade Details:</h3>
  <% @my_tradeline = @trade.get_tradeline_only(session[:user_id])
  @from_tradeline = @trade.get_tradeline_from(session[:user_id]) 
  if @trade.trade_lines.size == 2 #two way trade %>
    <p>
      <strong>Trade with:</strong> <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %><br />
      <strong>Their book:</strong> <%= @from_tradeline.inventory_own.book.name %> (condition: <%= @from_tradeline.inventory_own.condition.description.downcase %>)<br />
      <strong>Your book:</strong> <%= @my_tradeline.inventory_own.book.name %> (condition: <%= @my_tradeline.inventory_own.condition.description.downcase %>)
    </p>
  <% else #three way trade
    @to_tradeline = @trade.get_tradeline_to(session[:user_id]) %>
    <p>
      <strong>This is a three-way trade.</strong><br />
      <strong>Trade your book:</strong> <%= @my_tradeline.inventory_own.book.name %> (condition: <%= @my_tradeline.inventory_own.condition.description.downcase %>)<br />
      <strong>You get <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %>'s book: </strong> <%= @from_tradeline.inventory_own.book.name %> (condition: <%= @from_tradeline.inventory_own.condition.description.downcase %>)<br />
      <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %> gets <%= render :partial => 'users/user', locals: { display_user: @to_tradeline.inventory_own.user } %>'s book <%= @to_tradeline.inventory_own.book.name %>.
    </p>
  <% end %>