<h1><%= pluralize(@book_matches[:active].size, "Proposed Trade") %></h1>
      
<ul class="trades">
  <% @book_matches[:active].each do |trade| %>
    <% @my_tradeline = trade.get_tradeline_only(session[:user_id]) 
    @to_tradeline = trade.get_tradeline_to(session[:user_id]) %>

    <li> 

      <div class="thumbnail">
        <%= image_tag @my_tradeline.inventory_own.book.thumbnail %>
      </div>

      <div class="details">
        <p>
          <strong>Trade your book:</strong> <%= @my_tradeline.inventory_own.book.name %> <br />
          Your book is in <%= @my_tradeline.inventory_own.condition.description.downcase %> condition. <br />
          <strong>Trade with:</strong> <%= render :partial => 'users/user', locals: { display_user: @to_tradeline.inventory_own.user } %> <br />
          Their book is in <%= @to_tradeline.inventory_own.condition.description.downcase %> condition.
        </p>

        <% if trade.trade_lines.size == 3 #three-way trade summary %>
          <% @from_tradeline = trade.get_tradeline_from(session[:user_id]) %>
          <strong>This is a three way trade.</strong></br>
          <% if @to_tradeline.user_from_accepted %>
            <%= render :partial => 'users/user', locals: { display_user: @to_tradeline.inventory_own.user } %> has accepted this trade.</br>
          <% else %>
             <%= render :partial => 'users/user', locals: { display_user: @to_tradeline.inventory_own.user } %> has not yet accepted this trade.
          <% end  
          if @from_tradeline.user_from_accepted %>  
            <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %> has accepted this trade.
          <% else %>
            <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %> has not yet accepted this trade.</br>
          <% end %> 

         <% end#if %>

        <div class="message-wrapper">
          <% @message = trade.trade_notes.last #most recent message %>
          <h3><%= render :partial => 'users/user', locals: { display_user: @message.user } %> said:</h3>
          <p class="message">
            <% unless @message.meet_time.nil? %>
              <strong>When: </strong><%= @message.meet_time %><br />
            <% end %>
            <% unless @message.place.nil? %>
              <strong>Where: </strong><%= @message.place %><br />
            <% end %>
            <strong>Comments: </strong><%= @message.comment %>
          </p>
        </div>
        <p><%= link_to "Show more details about this trade...", "/trade_details/" + trade.id.to_s, :class => "show-more" %></p>
        <%= render partial: 'trade_buttons_logic', locals: { trade: trade, user: @user } %>
      </div>

    </li>
  <% end#each %>
</ul>