<div id="accept-trade" class="trade-form">
	<h2>Accept Trade</h2>

	<div class="trade-details">
    <%= render :partial => 'form_trade_details' %>
    <p>
      <strong>Proposed Meeting Date/Time: </strong> <%= @trade.trade_notes.last.meet_time %><br />
      <strong>Proposed Meeting Location: </strong>  <%= @trade.trade_notes.last.place %>  
      	<% if @trade.location %> 
          (<%= @trade.location.name %>)
        <% end %>
    </p>
  </div>

	<%= form_for @trade_note, :url => url_for(:controller => 'trades', :action => 'accept_trade') do |f|  %>
	  
	  <% f.hidden_field :type, :value => "accept" %>
	  
	  <p>

	    <%= f.label :comment, "Comments:" %></br>
	    <%= f.text_area :comment, :rows => 6, :cols => 50 %>
	  </p>

	 	<%= submit_tag("Accept Trade", class: "button accept-trade") %>
	<% end %>
</div>
