<div id="reject-trade" class="trade-form">
	<% if params[:type].eql? "cancel" %>
		<h2>Cancel Trade</h2>
		<% @note_type = "cancel" %>
	<% else %>
		<h2>Reject Trade</h2>
		<% @note_type = "reject" %>
	<% end %>

	<div class="trade-details">
		<%= render :partial => 'form_trade_details' %>
		<p>
			<strong>Proposed Meeting Date/Time: </strong> <%= @trade.trade_notes.last.meet_time %><br />
			<strong>Proposed Meeting Location: </strong>  <%= @trade.trade_notes.last.place %> 
				<% if @trade.location %> 
		        	(<%= @trade.location.name %>)
		        <% end %>
		</p>
	</div>

	<%= form_for @trade_note, :url => url_for(:controller => 'trades', :action => 'decline_trade', :remote => 'true') do |f|  %>

		<%= f.hidden_field :type, :value => @note_type %>
	    <p>
	    	<%= f.label :comment, "Comments:" %></br>
	    	<%= f.text_area :comment, :rows => 6, :cols => 50 %>
	    </p>
	    <% if params[:type].eql? "cancel" %>
	    	<%= submit_tag("Cancel Trade", class: "button cancel-trade") %>
	    <% else %>
	   		<%= submit_tag("Reject Trade", class: "button reject-trade") %>
	   	<% end %>
	<% end %>
</div>
