<div id="reject-trade" class="trade-form">
	<% if params[:type].eql? "cancel" %>
		<h2>Cancel Trade</h2>
		<% @note_type = "cancel" %>
	<% else %>
		<h2>Reject Trade</h2>
		<% @note_type = "reject" %>
	<% end %>

	<div class="trade-details">
		<%= render :partial => 'form_trade_details', locals: { trade: @trade, user: User.find(session[:user_id]) } %>
		<% #find latest trade note with time and locationn
		@trade.trade_notes.reverse.each do |note| 
			if (!note.meet_time.nil? && !note.place.nil? && !note.meet_time.empty? && !note.place.empty?) %>
				<p>
        <% if @trade.location %>
        <br /><strong>Trade Location:</strong> <%= link_to @trade.location.name, @trade.location %><br />
        <% end %>
					<strong>Proposed Meeting Time/Date:</strong> <%= note.meet_time %><br />
					<strong>Proposed Meeting Location:</strong> <%= note.place %> 
						<% if @trade.location %>
							(<%= @trade.location.name %>)
						<% end %>
				</p>
				<% break %>
			<% end %>
		<% end %>
	</div>

	<%= form_for @trade_note, :url => url_for(:controller => 'trades', :action => 'decline_trade', :remote => 'true') do |f|  %>

		<%= f.hidden_field :note_type, :value => @note_type %>
	    <p>
	    	<%= f.label :comment, "Comments:" %></br>
	    	<%= f.text_area :comment, :rows => 6, :cols => 50, :class => "large-comment" %>
	    </p>
	    <% if params[:type].eql? "cancel" %>
	    	<%= submit_tag("Cancel Trade", class: "button cancel-trade") %>
	    <% else %>
	   		<%= submit_tag("Reject Trade", class: "button reject-trade") %>
	   	<% end %>
	<% end %>
</div>
