<script type="text/javascript">
  jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox() 
  })
</script>
<div id="main">
  </br>
  <h1>Proposed Trades</h1>
  <% @book_matches[:active].each do |x| %>
    <% x.trade_lines.each do |y| %>
	  <b>From: </b><%= y.inventory_own.user.username %></br>
	  <b>To: </b><%= y.inventory_need.user.username %></br>
	  <b>Trade Book: </b><%= y.inventory_own.book.name %></br>
	  <%= image_tag y.inventory_own.book.thumbnail %></br>
    <% end %>
    </br>
	<%= link_to "View Trade", "/trade_details/" + x.id.to_s %>
  </br>
  <% end %>
  <h1>Possible Trades</h1>
  <% @book_matches[:possible].each do |x| %>
    <% x.trade_lines.each do |y| %>
      <b>From: </b><%= y.inventory_own.user.username %></br>
      <b>To: </b><%= y.inventory_need.user.username %></br>
      <b>Trade Book: </b><%= y.inventory_own.book.name %></br>
      <%= image_tag y.inventory_own.book.thumbnail %></br>
    <% end %>
  <%= link_to "Propose trade", "/propose_trade/" + x.escaped_json, :rel => "facebox" %>
  <% end %>
</div>

