<script type="text/javascript">
  jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox() 
  })
</script>
<div id="main">
<% @number = 1 %>
<h1>Accepted Trades</h1>
<% @book_matches[:accepted].each do |x| %>
  <h2>Trade Number <%= @number %> </h2>
  <% x.trade_lines.each do |y| %>
    <b>From: </b><%= y.inventory_own.user.username %></br>
    <b>To: </b><%= y.inventory_need.user.username %></br>
    <b>Trade Book: </b><%= y.inventory_own.book.name %></br>
    <%= image_tag y.inventory_own.book.thumbnail %></br>
  <% end %>
  </br>
  <h2>Notes</h2>
  <% x.trade_notes.each do |y| %>
    <b><%= y.user.username %> said: </b><br>
    <b>When: </b><%= y.meet_time %>
    <b>Where: </b><%= y.place %></br>
    <b>Comments: </b><%= y.comment %></br></br>
  <% end %>
<% @number = @number + 1 %>
</br>
<% end %>
<h1>Proposed Trades</h1>
<% @book_matches[:active].each do |x| %>
  <h2>Trade Number <%= @number %> </h2>
  <% x.trade_lines.each do |y| %>
    <b>From: </b><%= y.inventory_own.user.username %></br>
    <b>To: </b><%= y.inventory_need.user.username %></br>
    <b>Trade Book: </b><%= y.inventory_own.book.name %></br>
    <%= image_tag y.inventory_own.book.thumbnail %></br>
  <% end %>
  </br>
  <h2>Notes</h2>
  <% x.trade_notes.each do |y| %>
    <b><%= y.user.username %> said: </b><br>
    <b>When: </b><%= y.meet_time %>
    <b>Where: </b><%= y.place %></br>
    <b>Comments: </b><%= y.comment %></br>
  <% end %>
<% @number = @number + 1 %>
</br>
<% end %>
<h1>Possible Trades</h1>
<% @book_matches[:possible].each do |x| %>
  <h2>Trade Number <%= @number %> </h2>
  <% x.trade_lines.each do |y| %>
    <b>From: </b><%= y.inventory_own.user.username %></br>
    <b>To: </b><%= y.inventory_need.user.username %></br>
    <b>Trade Book: </b><%= y.inventory_own.book.name %></br>
    <%= image_tag y.inventory_own.book.thumbnail %></br>
  <% end %>
<%= link_to "Propose trade", "/propose_trade/" + x.escaped_json, :rel => "facebox" %>
<% @number = @number + 1 %>
</br>
<% end %>
</div>

