<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox(); 
  });
</script>
<div id="main">
  <div id="match-details">

  <div class="book-want">
    <%= image_tag @inventory_need.book.thumbnail, alt: @inventory_need.book.name %>
    <div class="details">
      <h2><span>Get this book:</span> <br />
        <%= @inventory_need.book.name %></h2>
      <p><strong>Author:</strong> <%= @inventory_need.book.author %><br />
          <strong>ISBN:</strong> <%= @inventory_need.book.isbn %><br />
          <strong>Published:</strong> <%= @inventory_need.book.published %></p>
    </div>
  </div>

  <% if @book_matches[:active].size > 0 #trades waiting on current user to accept %>
    <div class="proposed-trades">
      <a name="proposed"></a>
      <%= render :partial => 'match_details_proposed_trades' %>
    </div>
  <% end#if %>
  

  <% if @book_matches[:possible].size > 0 #all possible trades %>
    <div class="possible-trades">
      <a name="possible"></a>
      <h1><%= pluralize(@book_matches[:possible].size, "Possible Trade") %></h1>

      <% @count = 0 %>
      <ul class="trades">
      <% @book_matches[:possible].each do |trade| 
        @count = @count + 1 %>
          <li>
            <h2>Trade Option <%= @count %></h2>
            <% @my_tradeline = trade.get_tradeline_only(session[:user_id])
            @from_tradeline = trade.get_tradeline_from(session[:user_id]) %>
              <div class="thumbnail">
                <%= image_tag @my_tradeline.inventory_own.book.thumbnail %>
              </div>
              <div class="details">
                <p>
                  <strong>Trade your book:</strong> <%= @my_tradeline.inventory_own.book.name %><br />
                  Your book is in <%= @my_tradeline.inventory_own.condition.description.downcase %> condition.<br />
                  <strong>Trade with:</strong> <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %> <br />
                  Their book is in <%= @from_tradeline.inventory_own.condition.description.downcase %> condition.
                  <% if trade.trade_lines.size == 3 #three way trade %>
                    <br /><strong>This is a <%= trade.trade_lines.size %>-way trade.</strong><br />
                    <% @to_tradeline = trade.get_tradeline_to(session[:user_id]) %>
                    <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %> gets <%= render :partial => 'users/user', locals: { display_user: @to_tradeline.inventory_own.user } %>'s book <%= @to_tradeline.inventory_own.book.name %>.
                  <% end %>
                  <% if trade.location %> 
                    <br /><strong>Trade Location:</strong> <%= link_to trade.location.name, trade.location %>
                  <% end %>
                </p>
                <%= render partial: 'propose_trade_button', locals: { trade: trade } %>
              </div>
          </li>
      <% end#each %>
      </ul>
    </div>
  <% end#if %>
  
  </div>
</div>

