<script type="text/javascript">
  jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox() 
  })
</script>
<div id="main">
<% @number = 1 %>
<% @book_matches.each do |x| %>
  <h2>Trade Number <%= @number %> </h2>
  <% x.trade_lines.each do |y| %>
    <b>From: </b><%= y.user_from.username %></br>
    <b>To: </b><%= y.user_to.username %></br>
    <b>Trade Book: </b><%= y.book.name %></br>
    <%= image_tag y.book.thumbnail %></br>
  <% end %>
<%= link_to "Propose trade", "/propose_trade/" + x.to_json(:include=> :trade_lines), :rel => "facebox" %>
<% @number = @number + 1 %>
</br>
<% end %>
</div>

