<script type="text/javascript">
  jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox() 
  })
</script>
<div id="main">
	<div id="matches">
		<h1>Your Trade Matches</h1>

    <% if @inventory_needs.size == 0 %>
      <div id="search">
        <h2>There are no matches because you don't currently have any books in your Want List.</h2>
        <h2>Get started by adding books to your <%= link_to "Want", inventory_needs_path %> and <%= link_to "Have", inventory_owns_path %> Lists.</h2>
        </br>
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", class: "text") %>
          <%= submit_tag("Search", id: nil, class: "button") %>
        <% end %> 
      </div>

    <% end %>
		<% @inventory_needs.each do |x| %>
			<% if @need_hash[x.id][:completed].size == 0 && @need_hash[x.id][:accepted].size == 0 #do not show complete trades (trades already accepted by all users), do not show pending trades %>
				<% 
				@pending_count = @need_hash[x.id][:accepted].size #number of users who have accepted this trade 
				@proposed_count = @need_hash[x.id][:active].size #number of trades proposed by another user to this current user
				@possible_count = @need_hash[x.id][:possible].size #number of possible trades
				
				if @proposed_count > 0 #at least one proposed trade-> green header %>
					<article class="green">
				<% elsif @possible_count == 0 #no possible trades-> red header %>
					<article class="red">
				<% else #normal->blue header %>
					<article>
				<% end %>
					<h3><span>Get this book:</span><br />
				    	<%= x.book.name %></h3>
				    
				    <div class="need-details">	
				    	<%= image_tag(x.book.thumbnail, alt: x.book.name, class: "bookcover") %>
						<p><strong>Author:</strong> <%= x.book.author %><br />
						<strong>ISBN:</strong> <%= x.book.isbn %><br />
						<strong>Published:</strong> <%= x.book.published %></p>
				    </div>

				    <div class="trade-info">
			    		<div class="proposed-trades">
					    	<% if @pending_count == 0 && @proposed_count > 0 #show message for proposed trades %>
					    		<% if @proposed_count == 1 %>
					  				<p>1 user has proposed a trade to you. <%= link_to "View Trade »", "/match_details/" + x.id.to_s + "#proposed" %></p>
					  			<% else %>
					  				<p><%= @proposed_count %> users have proposed trades to you. <%= link_to "View Trades »", "/match_details/" + x.id.to_s + "#proposed" %></p>
					  			<% end %>
					  			
					    	<% end %>
						</div>
						<div class="possible-trades">
							<% if @pending_count == 0 and @possible_count > 0 #show trade options that user can propose %>
								<% if @possible_count == 1 %>
						    		<p>There is 1 possible trade for this book.</p>
						    	<% else %>
						    		<p>There are <%= @possible_count %> possible trades for this book.</p>
						    	<% end %>

						    	<ul class="trades">
							    	<% # list first three possible trade
							    	@need_hash[x.id][:possible].take(3).each do |trade| %>
							    		<li>
							    		 	<% 
							    		 	@my_tradeline = trade.get_tradeline_only(session[:user_id])
							    		 	@from_tradeline  = trade.get_tradeline_from(session[:user_id]) %>
							    		 	
											<%= image_tag @my_tradeline.inventory_own.book.thumbnail, alt: @my_tradeline.inventory_own.book.name %><br />
										    <p><strong>Trade your book:</strong> <%= @my_tradeline.inventory_own.book.name %></p>
										    <p><strong>Trade with:</strong> <%= render :partial => 'users/user', locals: { display_user: @from_tradeline.inventory_own.user } %></p>
										    <p>Their book is in <%= @from_tradeline.inventory_own.condition.description.downcase %> condition.</p>
										    

										    <% if trade.trade_lines.size > 2 %>
										    	<p><strong>This is a <%= trade.trade_lines.size %>-way trade.</strong></p>
										    <% end %>

										    <% if trade.location %> 
						                    	<p><strong>Trade Location:</strong> <%= trade.location.name %></p>
						                    <% end %>

										    <p><%= render partial: "propose_trade_button", locals: { trade: trade } %>
										    </p>  
									    </li>
							    	<% end %>
						    	</ul>
						    	<% if @possible_count > 3 %>
						    		<p class="view-more"><%= link_to "View More Matches »", "/match_details/" + x.id.to_s %></p>
						    	<% end %>
						    <% elsif @pending_count == 0 and @possible_count == 0 and @proposed_count == 0#no possible trades  %>
						    	<p class="no-matches">Sorry, there are no trade matches for this book at the moment. Try adding more books to your <%= link_to "Have List", inventory_owns_path %> or checking back later.</p>
						    <% end %>
					    </div>
					</div>
				</article>
			<% end #if %>
		<% end #each %> 
	</div>
</div>
