<script type="text/javascript">
  jQuery(document).ready(function($) {
  	$('a[rel*=fancybox]').fancybox({
  		hideOnOverlayClick: false,
  		showNavArrows: false
  	});  

  	$('#show-incomplete-trades').click(function(e) {
  		e.preventDefault();
  		$(this).hide();
  		$('.incomplete-trades .trades').show();
  	});

  	$('#hide-incomplete-trades').click(function(e) {
  		e.preventDefault();
  		$('.incomplete-trades .trades').hide();
  		$('#show-incomplete-trades').show();
  	});

  	$('.feedback form .thumbs-up, .feedback form .thumbs-down').click(function() {
	    var form = $(this).parent('form');

	    if ($(this).hasClass('thumbs-up')) {
		    //thumbs up, set score to 1
		    form.find('#user_feedback_score').val(1);
		} else {
			//thumbs down, set score to 0
			form.find('#user_feedback_score').val(0);
		}

	    $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: form.serialize(),
            error: function(data){
              //error! show message
              form.parent('.feedback').append('<p class="error">Sorry! An error occured. <br />Please try again.</p>');
            },
            success: function(data){
              	//success! hide form
              	if (form.parent('.feedback').siblings('.feedback').length == 0) {
              		//no more feedbacks to provide
              		form.parent('.feedback').siblings('.message').html('<p>Thanks for rating your trade!</p>');
              		form.parent('.feedback').remove();
              	} else {
              		//still have to provide feedback on another user
      				form.parent('.feedback').remove();
      			}
            }
        });
	});

  });
</script>
<div id="main">
	<div id="my-trades">
		<h1>Your Trades</h1>

		<div class="active-trades">
			<h2>Active Trades</h2>
			<% if @trade_hash[:completed].size == 0 %>
				<p>You have no active trades right now.</p>
			<% else %>
				<% @trade_hash[:completed].each do |y| %>
        			<% x = y.user_need(@user.id).inventory_need %>
					<article>
					
						<h3><span>Get this book:</span> <%= x.book.name %></h3>
					    
					    <div class="need-details">	
					    	<div class="thumbnail">
					    		<%= image_tag(x.book.thumbnail, alt: x.book.name, class: "bookcover") %>
							</div>

							<p><strong>Author:</strong> <%= x.book.author %><br />
							<strong>ISBN:</strong> <%= x.book.isbn %><br />
							<strong>Published:</strong> <%= x.book.published %></p>
					    </div>

					    <div class="trade-info">

					    	<% #find latest trade note with time and location
					    	@latest_note = nil
					    	@complete = false
			    			y.trade_notes.reverse.each do |note| 
			    				if (!note.meet_time.nil? && !note.place.nil? && !note.meet_time.empty? && !note.place.empty?)
			    					@latest_note = note

				    				#check to see if current time/date is past the trade time/date 
				    				@now = Time.now.in_time_zone(@user.timezone)
				    				@now = @now - 15*60 #(15 minutes from now)
				    				@trade_time = Time.strptime(note.meet_time, "%l:%M%P %m/%d/%Y") 
				    				if @now > @trade_time
				    					@complete = true
				    				end

			    					break
			    				end
			    			end %>

			    			<% if @complete # trade is complete %>
			    				<p>This trade has been completed. <%= link_to "View Trade Details", "/trade_details/" + y.id.to_s %></p>
								<p class="message">Please rate your trade experience.</p>

			    				<% @my_tradeline = y.get_tradeline_only(@user.id)
			    				other_tradelines = y.get_tradelines_except(@user.id)
			    				other_tradelines.each do |tradeline| #user feedbacks %>
			    					<div class="feedback">
			    						<% @other_user = tradeline.inventory_own.user %>
			    						<p>Rate <%= render :partial => 'users/user_with_ratings', locals: { display_user: @other_user } %></p>
					    				<%= form_for @user_feedback do |f|  %>
										    <%= f.hidden_field :user_from_id, :value => @user.id %>
										    <%= f.hidden_field :user_to_id, :value => @other_user.id %>
										    <%= f.hidden_field :trade_id, :value => y.id %>
										    <%= f.hidden_field :score, :value => 0 %>
										    <%= image_tag("thumbs_up.png", alt: "Thumbs Up", class: 'thumbs-up') %>
					    					<%= image_tag("thumbs_down.png", alt: "Thumbs Down", class: "thumbs-down") %>
										<% end %>
			    					</div>
			    				<% end %>
			    			<% else # active trade, not yet complete %>
			    				<% if @latest_note != nil %>
			    					<p>
				    					Meet Time/Date: <%= @latest_note.meet_time %><br />
				    					Meet Location: <%= @latest_note.place %> 
				    						<% if y.location %>
				    							(<%= y.location.name %>)
				    						<% end %>
				    				</p>
				    			<% end %>

				    			<p>This trade is currently active.</p>

				    			<p class="action"><%= link_to "View Trade Details", "/trade_details/" + y.id.to_s %></p>

				    			<p class="action">
				    				<%= render partial: 'change_trade_button', locals: { trade: y } %>
				    				<%= render partial: 'cancel_trade_button', locals: { trade: y } %>
				    			</p>
				    		<% end %>

						</div>
					</article>
				<% end #each, trade_hash loop %>
			<% end#if %>
		</div>

		<% if @trade_hash[:accepted].size != 0 %>
			<div class="pending-trades">
				<h2>Pending Trades</h2>
				
				<% @trade_hash[:accepted].each do |y| %>
					<% x = y.user_need(@user.id).inventory_need %>
					<article>
						<h3><span>Trying to Get this book:</span> <%= x.book.name %></h3>
					    					    
					    <div class="need-details">	
					    	<div class="thumbnail">
					    		<%= image_tag(x.book.thumbnail, alt: x.book.name, class: "bookcover") %>
					    	</div>

							<p><strong>Author:</strong> <%= x.book.author %><br />
							<strong>ISBN:</strong> <%= x.book.isbn %><br />
							<strong>Published:</strong> <%= x.book.published %></p>
					    </div>

					    <div class="trade-info">
			    			<p>This trade is pending.</p>
			    			<p>You have accepted this trade.</p>
			    			<% other_tradelines = y.get_tradelines_except(@user.id)
			    			other_tradelines.each do |tradeline| 
			    				if tradeline.user_from_accepted %>
			    					<p><%= render :partial => 'users/user', locals: { display_user: tradeline.inventory_own.user } %> has accepted this trade.</p>
			    				<% else %>
			    					<p><%= render :partial => 'users/user', locals: { display_user: tradeline.inventory_own.user } %> has not yet accepted this trade.</p>
			    				<% end %>
			    			<% end %>

			    			<p class="action"><%= link_to "View Trade Details", "/trade_details/" + y.id.to_s %></p>

			    			<p class="action">
			    				<%= render partial: 'change_trade_button', locals: { trade: y } %>
			    				<%= render partial: 'cancel_trade_button', locals: { trade: y } %>
			    			</p>
						</div>
					</article>
				<% end#each %>
			</div>
		<% end %>

		<div class="trade-history">
			<h2>Finished Trades</h2>
			<% if @trade_hash[:finished].size == 0 %>
				<p>You have no finished trades.</p>
			<% else %>
				<% @trade_hash[:finished].each do |y| 
					x = y.user_need(@user.id).inventory_need %>
					<article>
						<h3><span>Got this book:</span> <%= x.book.name %></h3>

						<div class="need-details">	
					    	<div class="thumbnail">
					    		<%= image_tag(x.book.thumbnail, alt: x.book.name, class: "bookcover") %>
					    	</div>

							<p><strong>Author:</strong> <%= x.book.author %><br />
							<strong>ISBN:</strong> <%= x.book.isbn %><br />
							<strong>Published:</strong> <%= x.book.published %></p>
					    </div>

					    <div class="trade-info">
			    			<p>This trade is finished.</p>
			    			<p class="action"><%= link_to "View Trade Details", "/trade_details/" + y.id.to_s %></p>
						</div>

					</article>
				<% end#each %>
			<% end#if  %>
		</div>

		<% if @trade_hash[:declined].size != 0 %>
			<div class="incomplete-trades">
				<h3><a href="#" id="show-incomplete-trades">View Incomplete Trades</a></h3>

				<div class="trades">
					<h2>Incomplete Trades <span>(<a href="#" id="hide-incomplete-trades">hide</a>)</span></h2>
					<% @trade_hash[:declined].each do |y| %>
		    			<% x = y.user_need(@user.id).inventory_need %>
								
						<article>
							<h3><span>Did not get this book:</span> <%= x.book.name %></h3>
						    
						    <div class="need-details">	
						    	<div class="thumbnail">
						    		<%= image_tag(x.book.thumbnail, alt: x.book.name, class: "bookcover") %>
						    	</div>

								<p><strong>Author:</strong> <%= x.book.author %><br />
								<strong>ISBN:</strong> <%= x.book.isbn %><br />
								<strong>Published:</strong> <%= x.book.published %></p>
						    </div>

						    <div class="trade-info">
				    			<p>This trade was canceled before it was completed.</p>
				    			<% #list other users involved in the trade
				    			other_trades = y.get_tradelines_except(@user.id)
				    			other_trades.each do |z| 
				    				if z.user_from_accepted %>
				    					<p><%= render :partial => 'users/user', locals: { display_user: z.inventory_own.user } %> has accepted this trade.</p>
				    				<% else %>
				    					<p><%= render :partial => 'users/user', locals: { display_user: z.inventory_own.user } %> was part of this trade.</p>
				    				<% end
				    			end %>

								<p class="action"><%= link_to "View Trade Details", "/trade_details/" + y.id.to_s %></p>
								<p class="action">
									<%= render :partial => 'repropose_trade_button', locals: { trade: y } %>
								</p>
							</div>
						</article>
		 			<% end #each, inventory_needs loop %>
		 		</div>
	 		</div>
	 	<% end %>

	</div>
</div>
