<%= form_for @trade_note, :url => url_for(:controller => 'trades', :action => 'create') do |f|  %>
  <p>
    <%= f.label :meet_time, "Proposed Meeting Date/Time:" %>
    <%= f.text_field :meet_time %>
    <%= f.hidden_field :json, :value => @trade.escaped_json %>
  </p>
  <p>
    <%= f.label :place, "Proposed Meeting Place:" %>
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :comment, "Comments:" %></br>
    <%= f.text_field :comment %>
  </p>

 	<%= submit_tag("Propose", class: "button") %>
<% end %>

