<script>
$(function() {
  $('#new_trade_note').submit(function() {
    valid = true;
    if (!$('#trade_note_meet_time').val()) {
      $('#meet_time_error').text('Proposed Meeting Date/Time cannot be blank.');
      valid = false;
    }
    if (!$('#trade_note_place').val()) {
      $('#meet_place_error').text('Proposed Meeting Place cannot be blank.');
      valid = false;
    }
    return valid;
  });
});
</script>

<div id="propose-trade" class="trade-form">
  <h2>Propose a Trade</h2>

  <div class="trade-details">
    <%= render :partial => 'form_trade_details' %>
  </div>

  <p>
    <strong>Send Message To:</strong> <%= @from_tradeline.inventory_own.user.username %>
      <% if @trade.trade_lines.size == 3 #three way trade %>
        and <%= @to_tradeline.inventory_own.user.username %>
      <% end %>
  </p>
  <%= form_for @trade_note, :url => url_for(:controller => 'trades', :action => 'create') do |f|  %>
    <%= f.hidden_field :json, :value => @trade.escaped_json %>

    <p>
      <%= f.label :meet_time, "Proposed Meeting Date/Time:" %>
      <%= f.text_field :meet_time %>
      <span id="meet_time_error" class="error"></span>
    </p>
    <p>
      <%= f.label :place, "Proposed Meeting Place:" %>
      <%= f.text_field :place %>
      <span id="meet_place_error" class="error"></span>
    </p>
    <p>
      <%= f.label :comment, "Comments:" %></br>
      <%= f.text_area :comment, cols: 50, rows: 6 %>
    </p>

   	<%= submit_tag("Send Trade Proposal", class: "button propose-trade") %>
  <% end %>
</div>
