<script>
$(function() {
  $('#new_trade_note').submit(function() {
    valid = true;
    time = $('#trade_note_time_1').val();
    date = $('#trade_note_time_2').val();
    if (!time || !date) {
      $('#meet_time_error').text('Proposed Meeting Time/Date cannot be blank.');
      valid = false;
    }
    if (!$('#trade_note_place').val()) {
      $('#meet_place_error').text('Proposed Meeting Place cannot be blank.');
      valid = false;
    }
    if (valid) {
      $('#trade_note_meet_time').val(time + " " + date);
    }
    return valid;
  });

  /*jquery time and date pickers */ 
  $('#trade_note_time_1').timepicker({ 
      disableTextInput:true, 
      step: 15,
      scrollDefaultTime: '8:00am'
   });
  var today = new Date();
  $('#trade_note_time_2').datepicker({
    minDate : today
  });

});
</script>

<div id="propose-trade" class="trade-form">
  <h2>Propose a Trade</h2>

  <div class="trade-details">
    <%= render :partial => 'form_trade_details' %>
  </div>
  <div class="trade-schedules">
      <% schedules = [] %>
      <% @trade.trade_lines.each do |line| %>
      <% user_location = line.inventory_own.user.user_locations.find_by_location_id(@trade.location_id) %>
      <% schedules <<= user_location.schedule_hash %>
      <% end %>
      <h3>Schedule Suggestions:</h3>
      <%= render partial: "users/multiday_planner", locals: {schedule: UserLocation.combine_schedules(schedules)} %>
      <br>
  </div>
  <p>
    <strong>Send Message To:</strong> <%= @from_tradeline.inventory_own.user.username %>
      <% if @trade.trade_lines.size == 3 #three way trade %>
        and <%= @to_tradeline.inventory_own.user.username %>
      <% end %>
  </p>
  <%= form_for @trade_note, :url => url_for(:controller => 'trades', :action => 'create') do |f|  %>
    <%= f.hidden_field :json, :value => @trade.escaped_json %>
    <%= f.hidden_field :note_type, :value => "propose" %>
    <p>
      <%= f.label :meet_time, "Proposed Meeting Time/Date:" %>
      <%= text_field_tag :time_1, "",  :id => "trade_note_time_1" %>
      <%= text_field_tag :time_2, "", :id => "trade_note_time_2" %>
      <%= f.hidden_field :meet_time, :value => "" %>
      <span id="meet_time_error" class="error"></span>
    </p>
    <p>
      <%= f.label :place, "Proposed Meeting Place:" %>
      <%= f.text_field :place %>  
      <span id="meet_place_error" class="error"></span>
    </p>
    <p>
      <%= f.label :comment, "Comments:" %></br>
      <%= f.text_area :comment, cols: 50, rows: 6 %>
    </p>

   	<%= submit_tag("Send Trade Proposal", class: "button propose-trade") %>
  <% end %>
</div>
