<script type="text/javascript">
  jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox() 
  })
</script>
<div id="main">
	<div id="trade-details">
		<h1>Trade Details</h1>

			<% if @trade.active?(@user.id) #trade is waiting for current user to accept/reject/counter %>
        <h2 class="yellow">This trade is waiting on your action.</h2>
			<% elsif @trade.accepted?(@user.id) #current user has accepted, waiting on other users' actions %>
        <h2 class="grey">This trade is pending.</h2>
			<% elsif @trade.declined? %>
        <h2 class="red">This trade has been canceled.</h2>
			<% else #normal->green header ****TO DO: COMPLETED VS. IN PROGRESS?? %>
        <h2>This trade has been accepted by all users. </h2>
			<% end %>

      <div class="trade">
        <% @my_trade = @trade.get_tradeline_only(@user.id)
        @my_own = @my_trade.inventory_own
        @from_trade = @trade.get_tradeline_from(@user.id) %>
        
        <div class="details">
          <h2>
            <span>Get this book:</span> <br />
            <%= @from_trade.inventory_own.book.name %>
          </h2>
          <p>
            <strong>From: </strong> <%= render :partial => 'users/user', locals: { display_user: @from_trade.inventory_own.user } %><br />
            Their book is in <%= @from_trade.inventory_own.condition.description.downcase %> condition.
          </p>
          <%= image_tag @from_trade.inventory_own.book.thumbnail, alt: @from_trade.inventory_own.book.name, class: "thumbnail" %>
        </div>
        <div class="details">
          <h2>
            <span>Trade your book:</span><br />
            <%= @my_own.book.name %>
          </h2>
          <p>
            Your book is in <%= @my_own.condition.description.downcase %> condition.
          </p>
          <%= image_tag @my_own.book.thumbnail, alt: @my_own.book.name, class: "thumbnail" %>
        </div>

        <div class="details">
          <% if @trade.trade_lines.size == 3 #three-way trade 
          @to_trade = @trade.get_tradeline_to(@user.id) %>
            <div class="three-way">
              <h2>This is a three-way trade.</h2>

              <p><%= render :partial => 'users/user', locals: { display_user: @to_trade.inventory_own.user } %> gets your book <%= @my_own.book.name %>.</p>
              <p><%= render :partial => 'users/user', locals: { display_user: @from_trade.inventory_own.user } %> gets <%= render :partial => 'users/user', locals: { display_user: @to_trade.inventory_own.user } %>'s book <%= @to_trade.inventory_own.book.name %>.</p>
            </div>
          <% end %>

          <h2 style="margin-bottom:10px;font-weight:bold">Trade Status:</h2>
          <% if @my_trade.user_from_accepted %>
            <p>You have accepted this trade.</p>
          <% else %>
            <p>You have not yet accepted this trade.</p>
          <% end %>
          <% @trade.get_tradelines_except(@user.id).each do |line| %>
            <% if line.user_from_accepted %>
              <p><%= render :partial => 'users/user', locals: { display_user: line.inventory_own.user } %> has accepted this trade.</p>
            <% else %>
              <p><%= render :partial => 'users/user', locals: { display_user: line.inventory_own.user } %> has not yet accepted this trade.</p>
            <% end %>
          <% end %>

        </div>

      </div>

      <div class="message-thread">
        <h2>Trade Messages</h2>
        <ul>
          <% @trade.trade_notes.each do |note| %>
            <li>
              <h3>
                <% if note.user.id == @user.id %>
                  You
                <% else %>
                  <%= render :partial => 'users/user', locals: { display_user: note.user } %>
                <% end %>
                said <span>on <%= note.created_at.strftime("%d %B %Y at %I:%M%p") %>:</span></h2>
              <p class="message">
                <% unless note.meet_time.nil? %>
                  <strong>Suggested Meet Time: </strong> <%= note.meet_time%><br />
                <% end %>
                <% unless note.place.nil? %>
                  <strong>Suggested Meet Location: </strong> <%= note.place %><br />
                <% end %>
                "<%= note.comment %>"
              </p>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="action_links">
        <%= render partial: 'trade_buttons_logic', locals: { trade: @trade, user: @user } %>
    </div>

	</div>
</div>
