<%= form_for @trade_note, :url => url_for(:controller => 'trades', :action => 'update_trade') do |f|  %>
  <p>
    <%= f.label :meet_time, "Proposed Meeting Date/Time:" %>
    <%= f.text_field :meet_time %>
  </p>
  <p>
    <%= f.label :place, "Proposed Meeting Place:" %>
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :comment, "Comments:" %></br>
    <%= f.text_area :comment,:style => "width: 240px; height: 150px;" %>
  </p>

 	<%= submit_tag("Update", class: "button") %>
<% end %>
