<div id="main">
  <table>
    <tbody>
      <% @locations.each do |location| %>
      <tr>
        <td><%= image_tag location.icon, :width => 20, :height => 20 %></td>
        <td></td>
        <td><%= link_to location.name, location %></td>
        <td></td>
        <td><%= location.city %></td>
        <td></td>
        <td><%= location.state %></td>
        <td></td>
        <td>People own <%= @books[location.id].count %> books at this location </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
