<header>
	<% searchBarHash = ["http://localhost:3000/inventory_needs",
						"http://localhost:3000/inventory_owns", 
						"http://localhost:3000/"] %>
	<div id="wrapperheader">
		<%= image_tag("bookmark.png", id: "bookmark") %>
		<div id= "search-bar">
			<% currentURL = request.original_url %>
			<% unless searchBarHash.include?(currentURL) %>
				<%= form_tag("/search", method: "get") do %>
					<%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", id: "headerSearch") %>
					<%= submit_tag("Search", id: nil, class: "button") %>
				<% end %> 
			<% end %>
		</div>
	
		<%= link_to image_tag("rebooklogosmall.png", :alt => "ReBook"), root_path %>
		<div id="navbar">
			<h2><%= link_to "My Matches", matches_path %>  |  <a href="#">My Trades</a>  |  <%= link_to "Want List", inventory_needs_path %>  |  <%= link_to "Have List", inventory_owns_path %></h2>
		</div>

		<div id="account-info">
			<h1><%= session[:user_name] %></h1>
			<%= link_to "Account Preferences", user_path(session[:user_id]) %> | <a href="/logout">Logout</a>
		</div>
	</div>
		<% unless flash[:notice].nil? %>
			<div class="error">
	   			<%= flash[:notice] %>
				<% flash[:notice] = nil%>
	   		</div>
		<% end %>
		
	
</header>
