<header>
	<% searchBarHash = ["/inventory_needs",
						"/inventory_owns", 
						"/"] %>
	<div id="wrapperheader">
			<% currentURL = url_for :only_path=>true %>
			<% #unless searchBarHash.include?(currentURL) %>
				<%= image_tag("bookmark.png", id: "bookmark") %>
				<div id= "search-bar">
					<%= form_tag("/search", method: "get") do %>
						<%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", id: "headerSearch") %>
						<%= submit_tag("Search", id: nil, class: "button") %>
					<% end %> 
				</div>
			<% #end %>
		
	
		<%= link_to image_tag("rebooklogosmall.png", :alt => "ReBook"), root_path, id: "logo" %>
		<div id="navbar">
			<h2><%= link_to "My Matches", matches_path, :class => cp(matches_path) %>  |  <%= link_to "My Trades", my_trades_path, :class => cp(my_trades_path) %>  |  <%= link_to "Want List", inventory_needs_path, :class=> cp(inventory_needs_path) %>  |  <%= link_to "Have List", inventory_owns_path, :class => cp(inventory_owns_path) %></h2>
		</div>

		<div id="account-info">
			<div class="profilepic">
				<%= image_tag(User.find(session[:user_id]).image, alt: "userimg", class: "pic") %>
			</div>
			<h1><%= session[:user_name] %></h1>
			<div id="preferences">
				<%= link_to "My Account", user_path(session[:user_id]) %> | <a href="/logout">Logout</a>
			</div>
		</div>
	</div>
	
	<% unless flash[:notice].nil? %>
		<div class="error">
   			<%= flash[:notice] %>
			<% flash[:notice] = nil%>
   		</div>
	<% end %>

	<% unless flash[:success].nil? %>
		<div class="success">
   			<%= flash[:success] %>
			<% flash[:success] = nil%>
   		</div>
	<% end %>
		
	
</header>
