<header>
	<% searchBarHash = ["/inventory_needs",
						"/inventory_owns", 
						"/"] %>
	<div id="wrapperheader">
<<<<<<< HEAD
		
			<% currentURL = request.original_url %>
=======
		<%= image_tag("bookmark.png", id: "bookmark") %>
		<div id= "search-bar">
			<% currentURL = url_for :only_path=>true %>
>>>>>>> d1498c6b84f57a101b4d7b9db806d3151c64e45e
			<% unless searchBarHash.include?(currentURL) %>
				<%= image_tag("bookmark.png", id: "bookmark") %>
				<div id= "search-bar">
					<%= form_tag("/search", method: "get") do %>
						<%= text_field_tag('search', nil, id: nil, placeholder: "Title, ISBN, Author", id: "headerSearch") %>
						<%= submit_tag("Search", id: nil, class: "button") %>
					<% end %> 
				</div>
			<% end %>
		
	
		<%= link_to image_tag("rebooklogosmall.png", :alt => "ReBook"), root_path, id: "logo" %>
		<div id="navbar">
			<h2><%= link_to "My Matches", matches_path %>  |  <a href="#">My Trades</a>  |  <%= link_to "Want List", inventory_needs_path %>  |  <%= link_to "Have List", inventory_owns_path %></h2>
		</div>

		<div id="account-info">
			<div id="avatartop">
				<%= link_to(image_tag(User.find(session[:user_id]).image, alt: "userimg", class: "img"), root_path) %>
			</div>
			<h1><%= session[:user_name] %></h1>
			<div id="preferences">
				<%= link_to "Account Preferences", user_path(session[:user_id]) %> | <a href="/logout">Logout</a>
			</div>
		</div>
	</div>
		<% unless flash[:notice].nil? %>
			<div class="error">
	   			<%= flash[:notice] %>
				<% flash[:notice] = nil%>
	   		</div>
		<% end %>
		
	
</header>
