<!DOCTYPE html>
<html>
<head>
  <title>Rebook</title>
  <!-- Google Font Open Sans -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
</head>
<body>
	<div id="wrapper">

		<% if session[:user_id] %>
		<%= render "layouts/header_loggedin" %>
		<% else %>
		<%= render "layouts/header" %>
		<% end %>

		<%= yield %>
	</div>

<%= render "layouts/footer" %>

</body>
</html>
