<!DOCTYPE html>
<html>
<head>
  <title>Rebook</title>
  <!-- Google Font Open Sans -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
<%= render "layouts/header_loggedin" %>
<% else %>
<%= render "layouts/header" %>
<% end %>

<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
